.travel-top {
	margin-top: 21upx;
	padding: 30upx;
	padding-bottom: 60upx;
	background-color: #fff;
}

.detail_top {
	width: 100%;
	position: relative;
	box-shadow: 0upx -6upx 1upx #cfcfcf;
}

.left_circle,.left_circle2{
	width: 30upx;
	height: 34upx;
	background-color: #fff;
	box-shadow: 4upx 0upx 6upx rgb(234, 234, 234);
	border-radius: 50%;
	position: absolute;
	top: 228upx;
	left: -15upx;
}
.right_circle,.right_circle2 {
	width: 30upx;
	height: 34upx;
	background-color: #fff;
	box-shadow: -4upx 0upx 6upx rgb(234, 234, 234);
	border-radius: 50%;
	position: absolute;
	top: 228upx;
	right: -15upx;
}
.left_circle2,.right_circle2{
	top: 290upx;
}
.detail_top_box {
	background-color: #fff;
	margin-top: 24upx;
	border-bottom: 8upx solid #eee;
	overflow: hidden;
	box-shadow: 0 4upx 16upx #dfdfdf inset;
}

.detail_top_name {
	background-color: #fff;
	margin-top: 16upx;
	padding: 0 24upx;
}

.detail_top_name h3 {
	color: #333333;
	line-height: auto;
	font-size: 36upx;
	text-align: center;
	padding-top: 20upx;
}

.detail_top_name h4 {
	color: #333333;
	font-size: 36upx;
	text-align: center;
	line-height: 40upx;
}
.detail_top_name p{
	line-height: 64upx;
	color: #989898;
	font-size: 24upx;
	padding-top: 40upx;
	text-align: right;
}
.detail-top-base {
	color: #989898;
	font-size: 24upx;
	padding-top: 56upx;
	text-align: right;
	line-height: 48upx;
}

.detail_top_name .detail-top-base{
	display: flex;
	text-align: left;
	justify-content: space-between;
}
.detail-top-base + .detail-top-base{
	padding-top: 0;
	padding-bottom: 16upx;
}
.detail-top-base .detail_base_name{
	color: #333;
	font-size: 26upx;
}
.detail-top-base .detail_base_price{
	color: #f4904e;
	font-size: 26upx;
}
.detail_top_bottom {
	width: 100%;
	font-size: 20upx;
	line-height: 90upx;
	color: #777;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	border-top: 1upx dashed #ccc;
}
.detail_top_bottom + .detail_top_bottom {
	border-top: 1upx dashed #ccc;
}
.detail_top_bottom li {
	flex: 50%;
	font-size: 26upx;
	display: flex;
	align-items: center;
}

.detail_top_bottom li img.icon_img,
.detail_middle_box li img.icon_img {
	width: 24upx;
	margin-right: 10upx;
}

.detail_top_bottom li span {
	padding-left: 12upx;
	color: #333;
}

.detail_middle {
	overflow: hidden;
	box-shadow: 0px 4px 8px rgb(234, 234, 234);
}

.detail_middle_box {
	padding: 20upx 0;
	width: 100%;
	font-size: 26upx;
	color: #777;
}

.detail_middle_box li {
	overflow: hidden;
	padding: 10upx 0;
	display: flex;
}

.detail_middle_box li div:first-child,
.detail_middle_box .attachment div:first-child {
	width: 25%;
}

.detail_middle_box li div:last-child,
.detail_middle_box .attachment div:last-child {
	width: 75%;
	color: #333;
}

.detail_middle_box .attachment {
	display: flex;
}

.imgBox {
	display: flex;
	align-items: center;
	/* justify-content: space-around; */
}

.imgBox img {
	width: 20%;
	height: 100%;
}
