.ico-user:before {
  background: url("../static/img/sqr_logo.png");
}
.ico-date:before {
  background: url("../static/img/cjrq_logo.png");
}
/*.ico-shenhe:before {
  background: url("../static/img/shenhe.png");
}
.ico-yijiao:before {
  background: url("../static/img/yijiao.png");
}
.ico-bohui:before {
  background: url("../static/img/bohui.png");
}*/
.ico-bh:before {
  background: url("../static/img/bh_logo.png");
}
.ico-yj:before {
  background: url("../static/img/yj_logo.png");
}
.ico-tg:before {
  background: url("../static/img/tg_logo.png");
}
.ico-cate:before {
  background: url("../static/img/txm_logo.png");
}
.ico,
.ico-s {
  display: inline-block;
}
.ico-s:before,
.ico:before {
  content: '';
  width: 28upx;
  height: 28upx;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10upx;
  background-repeat: no-repeat;
  background-size: contain;
}
.ico-s:before {
  width: 18upx;
  height: 18upx;
}
