.ico-user:before {
  background: url("../static/img/sqr_logo.png");
}
.ico-date:before {
  background: url("../static/img/cjrq_logo.png");
}
.ico-conclusion:before {
  background: url("../static/img/Conclusion.png");
}
.ico-examine:before {
  background: url("../static/img/examine.png");
}
.ico-bh:before {
  background: url("../static/img/bh_logo.png");
}
.ico-yj:before {
  background: url("../static/img/yj_logo.png");
}
.ico-tg:before {
  background: url("../static/img/tg_logo.png");
}
.ico-cate:before {
  background: url("../static/img/txm_logo.png");
}
.ico-bxbm:before {
  background: url("../static/img/bxbm_logo.png");
}
.ico-bxje:before {
  background: url("../static/img/bxje_logo.png");
}
.ico-rzlx:before {
  background: url("../static/img/rzlx_logo.png");
}
.ico-fj:before {
  background: url("../static/img/fj_logo.png");
}
.ico-ndbz:before {
  background: url("../static/img/ndbz_logo.png");
}
.ico-qtyq:before {
  background: url("../static/img/qtyq_logo.png");
}
.ico-bz:before {
  background: url("../static/img/bz_logo.png");
}
.ico,
.ico-s {
  display: inline-block;
}
.ico-s:before,
.ico:before {
  content: '';
  width: 28upx;
  height: 28upx;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10upx;
  background-repeat: no-repeat;
  background-size: contain;
}
.ico-s:before {
  width: 18upx;
  height: 18upx;
}
